@font-face {
    font-family: outfit;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body {
    font-size: 100%;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: outfit, helvetica;
}

.attribution {
    position: absolute;
    bottom: 3em;
}

.qrcard {
    display: inline-block;
    box-sizing: border-box;
    width: 85vw;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media all and (min-width:600px) {
    .qrcard {
        width: 60vw;
    }
}

@media all and (min-width:768px) {
    .qrcard {
        width: 300px;
    }
}

.qrimage {
    max-width: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.qrtext {
    padding: 15px;
    max-width: 100%;
}

h1 {
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}